<div class='container'>
  <h1>"Colaris is bringing efficiency to the consulting industry across the globe"</h1>
  <p1>
    Colaris is an online marketplace for businesses and consultants to connect. We cater to the
    needs of consultants, businesses and everyone in between. If you are a consultant, Colaris
    allows you to create a profile and start searching for problems to solve. If you are a business,
    create a profile and begin either searching for a consultant, or post your job for others to bid on.
  </p1>
</div> 