

  <div class="span12">

    <p1 class="span5">
      <h1> Colaris: Connecting Clients and Consultants</h1>
      Our network provides a more efficient way for clients to find Consultants, and for Consultants to reach out to potential
      clients. Colaris allows clients to connect with consultants that better fit their consulting needs. Consultants
      gain exposure to a large network of businesses in need, spending more time on cases and less time searching for
      their next client. Sign up now and get connected to the network that is revolutionizing the consulting industry.
    </p1>
    <div class="span5">

      <%= image_tag "consulting.png" %>


    </div>


  </div>



